<app-user-info
  [dp]="user.dp"
  [email]="user.email"
  [fname]="user.fname"
  [lname]="user.lname"></app-user-info>
<header>
  <!--<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>-->
  <!--<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>-->
</header>
<main>
  <div class="container">
    <app-create-post
      *ngIf="uid == us.getUid()"
      [dp]="user.dp"
      [key]="user.$key"
      [uid]="user.uid"></app-create-post>
    <app-post
      *ngFor="let post of posts"
      [post]="post"
      [lname]="user.lname" [fname]="user.fname"
      [uid]="uid"
      [dp]="user.dp"></app-post>

  </div>
</main>
